<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Employee Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="nav-link" (click)="onOpenModal(null, 'add')" >New Publication <span class="sr-only">(current)</span></a>
          </li>
          <li>
            <a class="nav-link" href='http://localhost:4200/publications'> Publications          </a> 
          </li>          
          <li>
            <a class="nav-link" href='http://localhost:3000/logout'>       Log me out</a>
          </li>
       </ul>

    </div>
  </nav>
  <div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let publication of publications" class="col-md-6 col-xl-3">
       <div class="card m-b-30">
          <div class="card-body row">
             <div class="col-6">
                <a href=""><img src="{{publication?.url}}" alt="" class="img-fluid"></a>
             </div>
             <div class="col-6 card-title align-self-center mb-0">
                <p class="m-0">{{publication?.description}}</p>
             </div>
          </div>
          <div class="card-body">
             <div class="float-right btn-group btn-group-sm">
                <a  (click)="onOpenModal(publication, 'edit')"  class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-arrow-up"></i> </a>
                <a  (click)="onOpenModal(publication, 'edit')"  class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                <a  (click)="onOpenModal(publication, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
             </div>
          </div>
       </div>
       
    </div>
    <div class="row" >
        <div *ngFor="let publication of posted" class="col-md-6 col-xl-3">
           <div class="card m-b-30" style="background-color:skyblue">
              <div class="card-body row">
                 <div class="col-6">
                    <a href=""><img src="{{publication?.url}}" alt="" class="img-fluid"></a>
                 </div>
                 <div class="col-6 card-title align-self-center mb-0">
                    <p class="m-0">{{publication?.description}}</p>
                 </div>
              </div>
              <!-- <div class="card-body">
                 <div class="float-right btn-group btn-group-sm">
                    <a  class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                    <a class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                 </div>
              </div> -->
           </div>
           
        </div>
  </div>
  
  <!-- Add Employee Modal -->
  <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addEmployeeModalLabel">Add Publication</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)=onAddPublication(addForm)>
            <div class="form-group">
               <label for="url">Image: </label>
               <input type="file" required>
               
               <input type="hidden" ngModel name="url" class="form-control" id="url" placeholder="url">
            </div>
            <div class="form-group">
               <label for="description">Description: </label>
               <input type="text" ngModel name="description" class="form-control" id="description" placeholder="description">
            </div>

            <div class="form-group" >
                <label for="date_to_post">When to post: </label>
                <input type="datetime-local" ngModel name="date_to_post" class="form-control" id="date_to_post" placeholder="date_to_post">
             </div>

            <div class="modal-footer">
               <button type="button" id="add-publication-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>
  
  <!-- Edit Modal -->
  <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                    <input type="hidden" ngModel="{{editPublication?.id}}" name="id" class="form-control" id="id" placeholder="Email">

                    <label for="url">Image: </label>
                    <input type="file" required>
               
                    <input type="hidden" ngModel="{{editPublication?.url}}" name="url" class="form-control" id="url" placeholder="url">
                 </div>
                 <div class="form-group">
                    <label for="description">Description: </label>
                    <input type="text" ngModel="{{editPublication?.description}}" name="description" class="form-control" id="description" placeholder="description">
                 </div>

                 <div class="form-group" >
                    <label for="date_to_post">When to post: </label>
                    <input type="datetime-local" ngModel="{{editPublication?.date_to_post}}" name="date_to_post" class="form-control" id="date_to_post" placeholder="date_to_post">
                 </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onUpdatePublication(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>
  
  <!-- Delete Modal -->
  <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete this planned publiction? </p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button  (click)="onDeletePublication(deletePublication!.id)"  class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
  </div>
  
  <!-- Notification for no posts -->
  <div *ngIf="publications?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO PUBLICATIONS!</h4>
    <p>No Publications were found.</p>
  </div>
  </div>